.input {
  width: 100%;
  padding: 8px 12px;
  font-family: inherit;
  border-radius: 100px;
  background: #fff;
  border: 1px solid #eded;
  outline: none;
  font-size: 14px;
}

.input:focus {
  border: 1px solid #50c2c9;
}
