.wrapper {
  border-radius: 100px;
  background: #FFF;
  width: 100%;
  padding: 8px ;
  border: 1px solid #ededed;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.warpper.white {
  background: #FFF;
  color:#000000
}
.wrapper.aqua {
  background:#50c2c9 ;
  color: #FFF;
}
.wrapper.black {
  background: #000000;
  color: #FFF;
}

.wrapper.transparent{
  background: transparent;
  border: none;
  padding: 0;
}