.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 100px;
  padding: 8px;
  border: 1px solid;
}

.button:not(:disabled) {
  cursor: pointer;
}

.default {
  background: #fff;
  color: rgba(0, 0, 0, 0.7);
  border-color: #ededed;
}
.primary {
  background: #50c2c9;
  color: #fff;
  border: 1px solid #ededed;
}
