.wrapper {
  border-radius: 100px;
  background: #fff;
  width: 100%;
  padding: 8px;
  border: 1px solid #ededed;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.warpper.white {
  background: #fff;
  color: #000000;
}
.white:hover {
  background: #ededed;
}
.wrapper.aqua {
  background: #50c2c9;
  color: #fff;
}
.aqua:hover {
  background: #14b8b8;
}
.wrapper.black {
  background: #000000;
  color: #fff;
}

.wrapper.transparent {
  background: transparent;
  border: none;
  padding: 0;
}
