.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.wrapper {
  height: calc(100vh - 380px);
  overflow: auto;
}

.content {
  @media (min-width: 1200px) {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}
