.wrapper {
  padding: 24px 24px 150px;
}

.list {
  display: grid;
  grid-row-gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

.item {
  list-style-type: none;
}

.label {
}

.label input:checked + div {
  background: #50c2c9;
  background-image: url(/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid gray;
  background: transparent;
  border-radius: 4px;
}
