.wrapper {
  background: #fff;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  border-radius: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  @media (min-width: 1200px){
    width: 30%;
  } 
}

.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 24px;
}
.title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  width: 90%;
  flex-shrink: 0;
}
.footer {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.content {
  height: 100%;
}